@import '../../../styles/constants.scss';
@import '../../../styles/colors.scss';

.text-input-wrapper {
  margin-bottom: $s4;
}

.text-input {
  &-error {
    outline: 2px solid $red-1;
  }

  &-focus {
    outline: 2px solid $black-1;
  }

  &-label {
    width: 100px;
  }

  &-main {
    margin-top: 0.5rem;
    background-color: $transparent;
    border: none;
    padding: $s3;
    width: 100%;
    height: 100%;
    outline: 1px solid $grey-4;

    &::placeholder {
      color: $grey-3;
      font-family: 'Helvetica Neue';
      font-weight: 300;
      font-size: 1rem;
    }

    &:focus {
      outline: none;
    }
  }

  &-error-message {
    color: $red-1;
  }
}
