@import '../../styles/colors.scss';
.info-section {
  display: flex;
  min-height: 40vh;

  &-reverse {
    flex-direction: row-reverse;
  }

  &-spacer {
    flex-basis: 7rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &-line {
    background-color: $primary-color-4;
    width: 100%;
    height: 10px;
    margin-bottom: 0.5rem;
  }

  &-col {
    flex: 1;
    position: relative;
  }

  &-title {
    margin-bottom: 0.5rem;
  }

  &-head-para {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &-para {
    margin-bottom: 1rem;
  }

  &-cta {
    margin-top: 4rem;
    float: right;
  }
}

@media (max-width:1000px) {
  .info-section {
    flex-direction: column;
    border-top: 10px solid $primary-color-4;

    &-line {
      height: 0px;
    }
  }
}
