@import '../../../shared/styles/colors.scss';

.preview {
  background-color: $primary-color-5;
  padding: 2.5rem;

  &-result {
    &-item {
      margin: 1.5rem 0;
    }

    &-warning {
      color: $semantic-warning-1;
      margin-bottom: 1.5rem;
    }
  }
}
