.home {
  &-info-section {
    margin: 7.5rem 4.5rem 7.5rem 4.5rem;
  }

  &-main-products {
    margin: 7.5rem 4.5rem 0 4.5rem;
  }

  &-products {
    margin: 7.5rem 4.5rem 0 4.5rem;
  }

  &-collection-banner-wrapper {
    margin: 7.5rem 0;
  }

  &-blogs {
  }
}
